
body{
  background: crimson;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userInput{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  background-color: azure;
  box-shadow: 1px 2px 16px white;
  text-align: center;
  border-radius: 10px;
  height: 25px;
  width: 225px;
}

.myDiv{
  background-color: black;
  width: 300px;
  margin: auto;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px !important;
}

.myP{
font-size: 22px;
color: white;
font-weight: bolder;
}

.myName{
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

.mySpan{
  color: crimson ;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 18px;
}
